. {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
}
.container{
width: 960px;
margin: 0 auto;
}
  
  /*<!-- Шапка страницы -->*/

header {
  background-color: #ffcd34;
}
  h1, h2, h3{
    margin: 0;
}
  a {text-decoration: none;}

.logoblock {
  height: 76px;
  overflow: hidden;
}
.logo {
  float: left;
}

.logo_name {
font-size: 24px;
color: #000;
margin-left: 6px;
margin-top: 25px;
display: inline-block;
vertical-align: middle;
}
.logo_image {
margin-top: 20px;
display: inline-block;
vertical-align: middle;
}

.menu {
 float: right;
}
.menu_link {
  color: #000;
  font-size: 16px;
  padding: 15px;
}
.menu_link_act {
font-weight: bold;
}
.btn-top {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 10px;
  color: #000;
  background-color: #ffe184;
  padding: 15px 27px;
  display: inline-block;
}
.active-y {transition: 1s linear color;}
.active-y:hover {
background-color: #ffecb2;
}
.active-y:active {
background-color: #f6bf16;
}

ul {
  list-style-type: none;
}
ul.menu_list li{
  display: inline-block;
} 

.top-link {
  transition: 0.5s step-start border;
}
.top-link:hover {
  border: 2px solid #dbb335;
}
.top-link:active {
  border: 2px solid #796e38;
}


/*Промо-блок*/

.promo {
  height: 465px;
  background-image: url(../img/promo.jpg);
  -webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
  position: relative;
  margin-top: 14px;
  margin-bottom: 14px;
}
  .title-wb {
    font-size: 44px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 122px;
    margin-bottom: 35px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .promo_text {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }

  .btn-black {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 45px 10px 16px;
    color: #fff;
    border: 3px solid #ffcd34;
    display: inline-block;
  }
.btn-promo {
  margin: 23px 0 0 380px;
 transition: 0.5s step-start border;
 position: relative;
}
.btn-promo:hover {
  border: 3px solid #ffd966;
}
.btn-promo:active {
  border: 3px solid #ffe390;
}
  
.btn-promo:before{
  content:"";
  background-image: url(../img/cat-pic.png);
  background-repeat: no-repeat;
  width: 13px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 14px;
}
/*Блок-форма Заказать консультацию*/

.form {
  background-color: #202e3b;
  height: 175px;
  margin-top: 14px;
  position: relative;
}

.form-title {
  padding: 24px 0 30px 0;
}

.btn-f:nth-child(3) { 
  padding: 10px 35px;
  margin: 0 10px;
}

  .title-y {
  color: #ffcd34;
  font-size: 24px;
  font-weight: bold;
}

.btn-yellow {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  background-color: #ffcd34;
  transition: 1s linear color;
}
.btn-yellow:hover {
  background-color: #ffd966;
}
.btn-yellow:active {
  background-color: #f6bf16;
}

.btn-fy {
  margin: 0px 0px 0px 10px;
  letter-spacing: 0;
  float: right;
  padding: 11px 17px;
}

.btn-f {
  width: 143px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  background-color: #202e3b;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "PT Sans", sans-serif;
  padding: 10px 35px;
  margin: 0 15px;
  float: left;
}
.btn-f:first-child{
  margin-left: 0;
}

/*Преимущества*/

.advantages {
height: 137px;
background-color: #fff;
overflow: hidden;
clear: both;
}
.advantage {
  float: left;
  padding-top: 44px;
  vertical-align: middle;
}
  .adv-1{
    width: 25%;
  }
  .adv-2{
    width: 27%;
  }
  .adv-3{
    width: 26%;
  }
  .adv-4{
    width: 21%;
  }
.adv-img {
  float: left;
}
p.adv {
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 auto 56px;
  font-weight: 600;
}
p.adv:last-child {
  margin-right: 5px;
}
.adv-4>.adv-img {margin-left: 5px;}
.adv-2>.adv-img .adv {margin-left: 5px;}

/*Боковое меню и Спецпредложения*/

.grey_block {
height: 400px;
background-color: #f3f3f3;
overflow: hidden;
}
.cat-menu {
width: 250px;
float: left;
}
.offer {
width: 700px;
float: left;
}
.title-cb {
 padding: 37px 0 30px 0;
}

.title-b {
color: #000;
  font-size: 26px;
  font-weight: bold;
}
a.cat-link {
text-decoration: underline;
font-size: 16px;
line-height: 37px;
color: #000;
}
.cat-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.table {
font-size: 16px;
border: none;
text-align: left;
height: 194px;
width: 690px;
}
table {border-spacing: 0 0;}
.tr-dg {
background-color: #dfdfdf;
padding-left: 18px;
}
.tr-g {
background-color: #f3f3f3;
}
.tr-w {
background-color: #fff;
}
th, td {
  padding-left: 18px;
}
th {font-weight: normal;}
tr.tr-dg th {font-weight: bold;}

/* Блок Спецтех в цифрах и Нас рекомендуют клиенты*/

.blue_block {
  height: 428px;
  background-color: #202e3b;
  position: relative;
  margin-top: 14px;
}
.blue_block:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}

.map_stripes {
  position: relative;
  margin-top: 14px;
}
.map_stripes:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}

.title-w {
color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 37px 0 25px 0;
}
  .nobold {
    font-weight: normal;
  }
  .numbers {
    width: 300px;
    float: left;
  }
  .otziv {
    width: 640px;
    float: left;
    overflow: hidden;
  }
  .otziv-cont {
    height: 162px;
    display: inline-block;
  }
  .otziv_img {
    float: left;
    border: 3px solid #ffcd34;
    border-radius: 8px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .otziv_bq {
    padding-left: 157px;
    font-size: 18px;
    color: #fff;
    font-style: italic;
  }
  .otziv_c {
    font-size: 18px;
    color: #ffcd34;
   font-style: normal;
    font-weight: bold;
    padding-left: 31px;
    padding-top: 12px;
    display: inline-block;
  }
 .numbers_item {
  color: #9e9e9e;
  font-size: 18px;
  font-weight: bold;
  line-height: 62px;
  display: inline-block;
  } 
.big_yellow {
    font-size: 38px;
    color: #ffcd34;
    margin-right: 12px;
  vertical-align: middle;
  }
.numbers_list {
   list-style-type: none;
  padding: 0;
  margin: 0;
}

/*Подвал*/

footer {
background-color: #202e3b;
}
.logfoot_name {
  color: #ffcd34;
}
.btn-foot {
background-color: #202e3b;
color: #ffcd34;
padding-right: 0;
}
.logfoot_link {
  color: #fff;
  transition: 0.5s step-start border;
}
.logfoot_link:hover {
  border: 2px solid #48535e;
}
.logfoot_link:active {
  border: 2px solid #a6abb1;
}

/*Полоски*/

.promo:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}

  .form:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}

  /*Карта*/
  .map {text-align: center;}

/*КАТАЛОГ*/

  /*Промо блок*/
.rent {
height: 182px;
background-image: url(../img/catalog.jpg);
-webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
margin-top: 14px;
position: relative;
}
.rent:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}

.prorent {
  width: 730px;
  float: left;
}
.consult {
  width: 230px;
  float: left;
}
.rent-title {
  font-size: 26px;
  color: #ffcd34;
  font-weight: normal;
  margin: 40px 0 18px 0;
}
.rent-text {
  font-size: 16px;
  color: #fff;
}
.btn-cons {
  padding: 15px 15px;
  display: inline-block;
  margin: 40px 0 15px 0;
  float: right;
}
.consult-text {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}

/*Меню*/
.catblock
{
  height: 965px;
  background-color: #f3f3f3;
  overflow: hidden;
}

aside {
  margin-top: 15px;
  height: 375px;
}
.trunk {
  float: left;
  padding-top: 20px;
}
.title-cat {
  padding: 15px 0 25px 50px;
}
aside>.cat-menu-list {
  clear: both;
}
.col1 {
  width: 306.6px;
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: 10px;
}
.btn-dwnl {
  margin-right: 10px;
}
a.cat-link-act {
font-weight: bold;
text-decoration: none;
display: inline-block;
padding-left: 15px;
background: url(../img/excav.png);
background-repeat: no-repeat;
background-position: 0px 13px;
}
/*Каталог*/

.catalog_items {
  padding-top: 20px;
}
.catalog_item {
  height: 360px;
  width: 246px;
  background-color: #fff;
  padding: 20px 30px;
  margin-top: 20px;

}
.new {
  position: relative;
  overflow: hidden;
}
.new:before {
  content:"new";
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  position: absolute;
  padding: 7px 0;
  width: 120px;
  background-color: #00c22e;
  text-align: center;
  transform: rotate(45deg);
  right: -36px;
  top: 6px;
}


.col2 {
  width: 306.6px;
  float: left;
  margin: 0 10px;
}
.col3 {
  width: 306.6px;
  float: right;
  margin-left: 10px;
}
.empty {
  height: 360px;
  clear: both;
}
.title-it {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}
.next-l {
  display: block;
}
.item-img {
  padding: 30px 0;
}
.price-it {
font-size: 26px;
font-weight: bold;
}
.month {
font-size: 17px;
font-weight: bold;
}
.btn-yw {
  font-size: 16px;
  color: #fff;
  background-color: #ffcd34;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 19px 10px 19px;
  float: left;
  transition: 1s linear color;
}
.btn-yw:hover {
  background-color: #ffd966;
}
.btn-yw:active {
  background-color: #f6bf16;
}
.btn-b{
  font-size: 16px;
  color: #fff;
  background-color: #354b60;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 19px 10px 19px;
  float: left;
  transition: 1s linear color;
}
.btn-b:hover {
  background-color: #46617a;
}
.btn-b:active {
  background-color: #567999;
}

/*Хлебные крошки*/

.breadcrumbs {
  clear: both;
  overflow: hidden;
}
.page_list {
list-style-type: none;
padding: 0;
}
.page-n {
  float: left;
  color: #354b60;
  padding: 3px 10px;
  margin: 20px 8px;
  transition: 0.5s step-start border;
}
.page-n:hover {
  border: 2px solid #9aa5af;
  border-radius: 4px;
}
.page-n:active {
  border: 2px solid #354b60;
  border-radius: 4px;
}
.page-na {
background-color: #354b60;
border-radius: 4px;
color: #fff;
margin-left: 562px;
}
/*Спецпредложение*/

.cat-special {
  clear: both;
 height: 517px;
 background-image: url(../img/special_offer.jpg);
 -webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
}
.sale {
  position: relative;
  overflow: hidden;
}
.sale:before {
  content:"sale";
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  padding: 8px 0;
  width: 120px;
  background-color: #d12222;
  text-align: center;
  transform: rotate(45deg);
  right: -36px;
  top: 6px;
}
.cat-sp-title {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  padding-top: 30px;
}
.price-it-s {
  font-size: 21px;
font-weight: bold;
}
.red-price {
color: #d12222;
}

/*ПОРТФОЛИО*/

.portfolio {
  height: 100px;
  background-image: url(../img/portfolio.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
 position: relative;
 margin-top: 14px;
}
.portfolio:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}

.port-title{
  float: left;
  font-size: 22px;
  color: #ffcd34;
  font-weight: normal;
  margin-top: 33px;
}
.port-list {overflow: hidden;}
.port-item {
 float: right;
 font-size: 15px;
 text-decoration: underline;
 color: #fff;
margin-left: 30px;
margin-top: 25px;
}
.port-item-active {
  text-decoration: none;
  font-weight: bold;
}
.ex-block {
  height: 477px;
  border-top: 10px solid #000;
  clear: both;
}
.ex-block1 {
background-image: url(../img/ex-block1.jpg);
-webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
}
.ex-block2 {
background-image: url(../img/ex-block2.jpg);
-webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
}
.ex-block3 {
background-image: url(../img/ex-block3.jpg);
-webkit-background-size: cover;
background-repeat: no-repeat;
height: 475px;
}
.example {
  height: 196px;
  width: 268px;
  background-color: #fff;
  margin-top: 98px;
  padding: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.btn-ex {
  font-size: 14px;
  padding: 10px 10px 10px 15px;
}
.ex-pic {
  vertical-align: middle;
  margin:3px;
}
.ex-title {
font-size: 20px;
font-weight: bold;
}
.ex-text {
margin: 10px 0 20px 0;
font-size: 13px;
line-height: 20px;
}

/*КОНТАКТЫ*/

/*Блок контакты*/

.contacts {
  height: 105px;
  background-image: url(../img/contacts.jpg);
  -webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
position: relative;
margin-top: 14px;
}

.contacts:before{
  content:"";
  position: absolute;
  top: -14px;
  width: 100%;
  height: 14px;
  background-image: 
  linear-gradient(130deg, #ffcd34 30%, #000 30%, #000 65%, #ffcd34 65%);
  background-size: 25px 14px;
  background-repeat: repeat-x;}


.cont-title {
  float: left;
  display: inline-block;
  vertical-align: middle;
}
.cont-text {
font-size: 16px;
color: #fff;
margin: 39px 0 0 15px;
display: inline-block;
vertical-align: middle;
}

.btn-cont {
  float: right;
  padding: 10px 15px;
  margin: 27px 0 0 0;
}

/*Блок карта и форма*/

.map-form {
  clear: both;
  height: 485px;
  background-color: #f3f3f3;
  overflow: hidden;
}
.map-contacts {
    float: left;
    margin-top: 45px;
}
.form-cont{
  width: 300px;
  float: right;
  padding-top: 45px;
}
.pic-cont {
  margin-right: 15px;
}
.cont-info {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
}
.cons-text {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  display: inline-block;
  padding-top: 10px;
}
.form-contacts {
margin-top: 15px;
}
.form-add {
color: #b0b0b0;
font-size: 16px;
height: 38px;
width: 286px;
margin-bottom: 10px;
padding-left: 10px;
border: 1px solid #b0b0b0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.form-add2 {
color: #b0b0b0;
font-size: 16px;
height: 80px;
width: 276px;
margin-bottom: 5px;
padding: 10px 10px;
border: 1px solid #b0b0b0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
textarea {font-family: inherit;}
input[type=submit]{border: none;}

.btn-fc{
width: 300px;
}

/*Блок отзывы*/
.otziv-container {
height: 405px;
background-color: #fff;
overflow: hidden;
}
.otziv-cont-2 {
float: left;
width: 220px;
margin: 0px 10px;
text-align: center;
}

div.otziv-cont-2:first-of-type{margin-left: 0;}
div.otziv-cont-2:last-of-type{margin-right: 0;}

.otziv-cont-title {
font-size: 26px;
font-weight: bold;
margin: 20px 0;
}

.otziv-pic {
margin-bottom: 15px;
}
.otziv-text {
font-size: 14px;
color: #000;
font-style: italic;
font-weight: 500;
}
.otziv-name {
font-size: 14px;
font-weight: bold;
margin-top: 10px;
display: inline-block;
}